[build]
  command = "npm run build"
  publish = ".next"           # Next.js build output
  functions = "netlify/functions"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[context.production.environment]
  NODE_ENV = "production"
