@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
}

table,
thead,
tbody,
tr {
  width: 90%;
  margin: 2em auto;
  border-bottom: 1px solid goldenrod;
  border-collapse: collapse;
}

table {
  overflow-x: scroll;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1em;
}

th,
td {
  padding: 0.7em;
  text-align: left;
  border-top: 1px solid goldenrod;
  border-collapse: collapse;
}